.content{
	margin-top: 60px;
}

input {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	padding: 5px;
}

.header{
    background-color: #363535;
    position: fixed;
    height: 60px;
    width: 100%;
    padding-top: 10px;
    top: 0;
    left: 0;
    z-index: 1;
}

.container{
	padding-top: 60px;
}

.footer{
	position: fixed;
	bottom: 0;
	left: 0;
    width: 100%;	
    height: 60px;
    width: 100%; 
    background-color: #363535;       
}

body{
	color: #555;
}

.list-group-item{
	border: none;
}

#map{
	border: 1px solid #ddd;
	height: 90vh;
}

@media only screen and (max-width: 767px) {
	#movieDetails{
		padding: 0;
		margin-top: 20px;
	}
}